@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.out {

    width: 100%;
    height: 100%;
    background-image: url('./Images/booing1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Michroma';
   
}

.first{
    width: 100%;
   height: 100%;
}
.logo{
    width: 100%;
    position:absolute;
    top: 27%;

}

.logosize{
    width: 250px;
    height: 250px;
    position:absolute;
    top :15%;
    left: 2.2%;
}
.text{

    width: 80%;
    position:absolute;
    top : 33%;
    left: 7%;
    font-family: 'Michroma';
}
.logotext{
font-family: 'Michroma';
font-size: 60px;
font-weight: bold;
}
.slogantext{
    margin-top: -40px;
    width: 39.6%;
 font-size: 32px;
}
.button57 {
  letter-spacing: 1px;
  position: absolute;
  overflow: hidden;
  border: none;
  color: white;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  padding: 3px 3px 1px 3px;
  width: 15%;
  height: 15%;
  text-decoration: none;
  cursor: pointer;
  background: #00046A;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "poppins";
  font-weight:bold;
  top: 100%;
  left: 0%;

}

.button57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button57 span:last-child {
  color: black;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.info{
    width: 100%;
    height: 100%;
    top: 100%;
    color: black;
}
.top{
    margin-top: 50px;
    font-size: 45px;
    text-align: center;
    width: 100%;
    color: black;
    font-family: 'Michroma';
    font-weight: bold;
}
.hotel{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 10%;

}
.hotelcards{
width: 450px;
height: 150px;
background-color: #193CBA;
display: flex;
box-shadow: 0 0 5px 5px  rgba(0, 0, 0, 0.358);
transition: 1s;
}
.hotelcards:hover{
    transition: 1s;
    transform: scale(1.025);
}
.left{
    width: 70%;
}
.right{
    width: 50%;
    background-image: url('./Images/itc maratha.jpg');
    background-size: cover;
}


.nameposition{
    margin-top: 20px;
}
.name{
    width: 70%;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    color: black;
    border-radius: 0px 0px 15px;
    background-color: white;
    font-size: 14px;
    font-family: "poppins";
    font-weight: bold;
}
.address{
    font-family: 'Poppins';
    margin-top: 20px;
    margin-left: 10px;
    font-size: 10px;
    width: 90%;
}
.state{
    width: 100%;
    height: 80%;
    position: relative;
    top: 20%;
}
.statetext{
   
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: black;
}
.statecards{
    position: relative;
    top: 10%;
    width: 100%;
        display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    
  
  
}
.cover{
    width: 200px;
    height: 150px;
  background-color: red;
  background-image: url('./Images/punjab.jpg');
  background-size: cover;
  background-position: center;

  border-radius: 0px 0px 20px;
}

.covertext{
 width: 100%;
margin-top: 70px;
text-align: center;
  
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: #00046A;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.social{
    width: 70%;

}
.socialcontent{
    position: relative;
    top: 70%;
    width: 50%;
    height: 30%;

   
}
.socialwidth{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.issue{
    width: 30%;
  
}
.socialimg{
    width: 35px;
    height: 35px;
}
.socialtext{

 text-align: center;
}
.issuetext{
    position: relative;
    top: 20%;

}
.padding{
    padding-bottom: 10px;
}