@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");


.width{
  background-size: 100%;
    background-image: url("./Images/mountain-back.png");
width: 100%;
}
