@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");


.imga {
  width: 100%;
  height: 70%;
}

.animation,
.animation_layer {
  height: 1000px;
}

@media only screen and (max-width: 913px) {
  .App{
    height: 100vh;
    background: url("./Images/background-landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .landimg{
    display: none;
  }
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

.imgb {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  height: 35%;
  width: 28%;
}

.imgc {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70%;
}

/* .imgd{
  position: fixed;
  width: 50%;
  height: 30%;
  top: 70.5%;
  left: 26.5%;
} */
.imge {
  position: fixed;
  width: 46%;
  height: 100%;
  top: 0%;
  left: 55%;
}

.imgf {
  position: fixed;
  width: 16%;
  height: 49%;
  top: 37.8%;
  left: 36.7%;
}

.h1 {
  font-weight: bolder;
  font-size: 90px;
  color: #FFE500;
  text-shadow: 2px 2px 2px #FFE500;
  position: absolute;
  top: 40%;
  left: 50.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.h2 {
  position: absolute;
  top: 55%;
  left: 50.5%;
  font-weight: 300;
  color: white;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
