@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-image: url("pexels-eberhard-grossgasteiger-691668.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    font-family: 'poppins';
    margin: 0;
    height: 100vh;
    width: 100%;
  
}

.blur{
    width: 100vw;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
}
.black{
    width:32vw ;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);border-radius: 20px;
}
.img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.imga{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    
}
h1{
    font-family: 'poppins';
    font-size: 15px;
    color: white;
    font-weight: 300;
}
.emailid{
    outline: none;
    width: 23vw;
    height: 5vh;
    border-radius: 20px;
    border: none;
    box-shadow: black;
}
.input{
    margin-top: -20px;
    margin-left: 70px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    height: 5vh;
    width: 23vw;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
  }
  .buttons{

    display: flex;
    justify-content: center;
    margin-top: 20px;
  }