@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.outer {
  height: 100%;
  width: 100%;
  background-image: url("./Images/mountain-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  font-family: 'poppins';
}

.blur {
  width: 100vw;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
}

.black {
  width: 32vw;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.289);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imga {
  margin-top: 10px;
  width: 200px;
  height: 200px;

}

h1 {
  font-family: 'poppins';
  font-size: 15px;
  color: white;
  font-weight: 300;
}

.emailid {
  outline: none;
  width: 23vw;
  height: 5vh;
  border-radius: 20px;
  border: none;
  box-shadow: black;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.centr {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #CBD6FC;
  border: none;
  color: black;
  height: 5vh;
  width: 23vw;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'poppins';
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;

}

.button:hover {
  transform: translateY(2px);
  transition: 0.5s;
  background-color: white;
  color: black;
}

.buttons {

  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button1 {
  background-color: #CBD6FC;
  border: none;
  color: black;
  height: 5vh;
  width: 23vw;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'poppins';
  font-weight: bold;
}

.button1:hover {
  transform: translateY(2px);
  transition: 1s;
  background-color: white;
}

.buttons1 {

  display: flex;
  justify-content: center;
}

p {
  color: white;
  font-size: 10px;
}

a {
  color: blue;
}

.label {
  width: 100%;
  padding-left: 4.5vw;
}

@media only screen and (max-width: 913px) {
  .outer {
    background: #CBD6FC;
    width: 100vw;
    height: 100vh;
  }
  .imga {
 
    width: 250px;
    height: 250px;
  
  }
  .blur {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: transparent;
    top: 0;
  }

  .black {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    background: transparent;
  }

  .button1,
  .button,
  .emailid {
    width: 85%;
    box-shadow:
      0px 3.8px 5.3px rgba(0, 0, 0, 0.113),
      0px 11.9px 17.9px rgba(0, 0, 0, 0.167),
      0px 20px 80px rgba(0, 0, 0, 0.28);
  }

  .button1,
  .button {
    background-color: #112A18;
    color: white;
    box-shadow:
      0px 3.8px 5.3px rgba(0, 0, 0, 0.113),
      0px 11.9px 17.9px rgba(0, 0, 0, 0.167),
      0px 20px 80px rgba(0, 0, 0, 0.28);
  }

  .center {
    width: 100%;
  }

  .label {
    padding-left: 7.5%;
    color: black;
    font-weight: 800;
  }

  .forgotpass {
    font-size: 1rem;
    color: black;
    font-weight: 800;
  }
}